/* Apply styles to create the accordion */
.accordion {
    width: 300px;
    margin: 0 auto;
  }
  
  .accordion-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add a transition effect */
  }
  
  .accordion-header {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Add a transition effect */
  }

  .container{
    max-height: 0;
  }

  p{
    background-color: aqua;
    padding: 10px;
  }